<div class="d-flex gap-3 justify-content-center align-items-center my-4">
    <a asp-controller="Chef" asp-action="Index">Chefs</a>
    <div>|</div>
    <a asp-controller="Dish" asp-action="Index">Dishes</a>
    <div>|</div>
    <a asp-controller="Chef" asp-action="New">Add a Chef</a>
    <div>|</div>
    <a asp-controller="Dish" asp-action="New">Add a Dish</a>
</div>