@model Chef

<div class="text-center">
    @await Html.PartialAsync("_Navbar")
</div>

<div class="container w-75 mx-auto">
    <form asp-controller="Chef" asp-action="Create" method="post" class="shadow p-3 rounded w-75 mx-auto">
        <div class="mb-3">
            <label asp-for="FirstName" class="my-1"></label>
            <input asp-for="FirstName" type="text" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger fw-bold"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="my-1"></label>
            <input asp-for="LastName" type="text" class="form-control">
            <span asp-validation-for="LastName" class="text-danger fw-bold"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DateOfBirth" class="my-1"></label>
            <input asp-for="DateOfBirth" type="date" class="form-control">
            <span asp-validation-for="DateOfBirth" class="text-danger fw-bold"></span>
        </div>
        <button class="btn btn-outline-dark">Add Chef</button>
    </form>
</div>